* {
    font-family: 'Space Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top {
    height: 100vh;
    width: 100%;
    background-image: url(./images/moon.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

span{
    font-family: 'Montserrat', sans-serif;
    color: #9e8ca9;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    transition: .4s;
    color: #44546c;
}

.btn {
    background-color: #9e8ca9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}